In [ ]:
# Function 
- it is a glock of code for perform specific task .
- it is used for code rea dability 
-it is used for code reusability

Syntax:
 -define function 
    - def function_name(parameters):
          -code/stmnt/logic
  -calling function 
     -function_name(arguments)

-calling function always place below define function 
-define functon execute logic and program 
-calling is act as main function

In [2]:
#define function 
def greet():
    print('Hello sir')

In [3]:
#calling function 
greet()

Hello sir

In [ ]:
#types of function :
1.return type 
2.non return type


#types of arguments
1.default arg
2.positional arg
3.keyword arg
4.arbitary arg(*arg,**args)

In [6]:
def addition():
    num1= int(input('Enter first value'))
    num2 = int(input('Enter second value:'))

    rs = num1+num2
    print('The final result is ',rs)
    return rs

In [7]:
final = addition()
print('the result is',final)

Enter first value 23
Enter second value: 12

The final result is  35
the result is 35

In [8]:
final*5

175

In [ ]:
def addition():
    num1= int(input('Enter first value'))
    num2 = int(input('Enter second value:'))

    rs = num1+num2

In [9]:
addition()

Enter first value 1
Enter second value: 2

The final result is  3

3

In [ ]:
1.default arguments
- without passing arguments,parameter takes defalult value

In [ ]:
def addition(a=2,b=3):
    rs = a*b
    return rs

In [10]:
x = addition()
print(x)

Enter first value 2
Enter second value: 3

The final result is  5
5

In [11]:
def greet(name = 'user'):
    print(f'Hello {name}')

greet('Mohit')

Hello Mohit

In [ ]:
2.Positional Arguments
- passing arguments as swwquential dat with position

In [12]:
def simple_interest(p,t,r):
    si=(p*t*r)/100
    return si

In [13]:
simple_interest(5000, 2,5)

500.0

In [15]:
def demo(list,number,string):
    print(list)
    print(number)
    print(string)

In [16]:
demo([1,2,3,4], 1000, 'Mohit')

[1, 2, 3, 4]
1000
Mohit

In [ ]:
#write a function to check a given number is multiole of 10 of not

In [5]:
def multiple(num):
    if (num%10)==0:
        return f'{num} is multiple of 10 '
        #(True)

    else:
        return f'{num} is not multiple of 10 '
      #  False

In [6]:
multiple(120)

'120 is multiple of 10 '

In [ ]:
3. Keyword argument 
- passing value with key which is same for parameter too.

In [8]:
def sub(b,a):
    rs = a-b
    print(rs)
sub(5,4)

-1

In [9]:
def sub(b,a):
    rs = a-b
    print(rs)
sub(a=5,b=4)

1

In [11]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
4. Arbitary arguments (*args, **args)

A. *args 
-it is used to pass multiple arguments and parameter accept as a single tuple 
-you can use *before parameter_name.

In [17]:
def add(*num):
    print(num,type(num))
    rs = 0
    for i in num:
        rs +=i

    return rs
    print('hello')   # return paxi print hudaina

result = add(1,2,3,4,5,6,7,8,9,10,11)
print('the final result is',result)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11) <class 'tuple'>
the final result is 66

In [18]:
def add(*num):
    return sum(num,start=1)

    result = add(1,2,3,4,5,6,7,8,9,10,11)
print('the final result is',result)

the final result is 66

In [ ]:
note: comment garna  (control / ) use garney

In [ ]:
B.** args
-use to pass multiple keyword arguments and parameter accept as a single dictionary 
_use ** before parameter_name

In [22]:
def detail(**std):    #huge data xa vane use garne
    print(std, type(std))

detail(name='Mohit',age= '23',level= '10')

{'name': 'Mohit', 'age': '23', 'level': '10'} <class 'dict'>

In [26]:
#wap to store detail of 5 students and show 

def addDetail(n):
    name_lst=[]
    age_lst=[]
    address_lst=[]
    
    for i in range(1,n+1):
         # take inputs 
        name = input('Enter name:')
        age = int(input('Enter age:'))
        address= input('Enter address:')

        # add inputs to list 
        name_lst.append(name)
        age_lst.append(age)
        address_lst.append(address)
    return name_lst,age_lst,address_lst   #arko funct call garda sajilo hunxa 
        
total_std= int(input('Enter required number of student:'))
finalDetail= addDetail(total_std)
print(finalDetail[0])
print(finalDetail[])

Enter required number of student: 1
Enter name: Mohit
Enter age: 22
Enter address: Rajapur

['Mohit']
(['Mohit'], [22], ['Rajapur'])

In [27]:
def showDetail(**detail):
    print(detail)
showDetail(name=finalDetail[0],age=finalDetail[1],address=finalDetail[2])

{'name': ['Mohit'], 'age': [22], 'address': ['Rajapur']}

#wap to calculate area and perimeter of circle using function.
 #define function
def circle(radius):
   
    pi=3.14

    Area = pi*(radius**2)
    perimeter= 2*pi*radius

    return Area,perimeter
    
rad_circle=float(input('Enter raius of circle:'))

#calling function
area,peri=circle(rad_circle)

print(area {round(area,2)})
print(peri {round(area,2)})

In [22]:
#filter - it is  same as map but it used by condition 
def odd(n):
    if n%2!=0:
        return True
    else:
        return False 


list(filter(odd,number))

NameError: name 'number' is not defined

#lamda

In [17]:
addition = lambda a, b : a-b

addition(4,5)

-1

In [21]:
list(map( lambda n: n**2 , number))

NameError: name 'number' is not defined

In [ ]:
list(filter(lamda n : True if n%2!=0 else False, numbers))

In [12]:
# list names and return those if having even length 
names = ['Anil','Gokul','Mohit','Bishal','Anit','Gokul']

new_names = list(filter(lambda abc: True if len(abc)%2==0 else False , names ))
new_names

['Anil', 'Bishal', 'Anit']

In [20]:
def new_names(name):
    if len(name)%2 == 0:
        return True

    else:
        return False
new_names('Mohit')

False

In [ ]:
#list of purchase amount given them discount on the basis of purchase amount 1000 no dis, upto 5k 2% , upto 10k 5%,more than 10k 10%

In [13]:
def discount(amt):
    if amt>=10000:
        return amt-amt*0.1
    elif amt>=5000:
        return amt-amt*0.05
    elif amt>=1000:
        return amt-amt*0.02
    else:
        return amt
        
purchase_amount = [ 800, 1000, 300, 1500, 5010, 15000, 4000, 7500]
after_discount= list(map(discount, purchase_amount))
after_discount

[800, 980.0, 300, 1470.0, 4759.5, 13500.0, 3920.0, 7125.0]

In [ ]:
#Recursion function 

- function call itself its own function

In [23]:
#factorial 
def factorial(n): # defining function #5          4           3           
    if n<=1:
        return 1
    return n* factorial(n-1)   #5 *4 * 3 * 2 *1 *1 *1

factorial(5)  #calling function

120

In [36]:
# fibonacci series 
def fibo(n):

    # define function 
    if n==0:
        return 0
    elif n==1:
        return 1
    else:
        return fibo(n-1) + fibo(n-2)

num=int(input('Enter number range:'))
for i in range(num):
    print(fibo(i),end=' ')

Enter number range: 6

0 1 1 2 3 5

In [37]:
fibo(3)    #calling function

2

In [ ]:
#list comprehension 
- is a synthetic expression for creating list based on existing iterables.
- it is faster alternative for loop 
- it perform on single line of code 
- [value for item iterale]

In [39]:
square = []
for i in range(10):
    square.append(i**2)

print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [40]:
s= [i**2 for i in range(10)]
print(s)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [41]:
names

['Anil', 'Gokul', 'Mohit', 'Bishal', 'Anit', 'Gokul']

In [42]:
[name for name in names if len(name)%2==0]

['Anil', 'Bishal', 'Anit']

In [43]:
even_name = []
for name in names:
    if len(name)%2==0:
        even_name.append(name)
    else:
        even_name.append(False)
even_name

['Anil', False, False, 'Bishal', 'Anit', False]

In [46]:
#if-else condition 
[name if len(name)%2==0 else False for name in names]

['Anil', False, False, 'Bishal', 'Anit', False]