In [ ]:
Write a class named Car that has two attributes: brand and model. Create an object and print its attributes.

In [7]:
class Car:
    def __init__(self,brand,model):
        self.brand = brand
        self.model = model

In [10]:
my_car = Car("TATA","v2")
print("Car Brand:",my_car.brand)
    
print("Car Model:",my_car.model)

Car Brand: TATA
Car Model: v2

In [4]:
# write a function to find the first positive  missing number in the given  listÂ Â ofÂ numbers

def first_missing_positive(nums):
    nums = set(nums)  # Remove duplicates for faster lookup
    smallest = 1

    while smallest in nums:
        smallest += 1

    return smallest

# Example usage:
numbers = [3, 4, -1, 1]
print("First missing positive number:", first_missing_positive(numbers))

First missing positive number: 2

In [3]:
#write a function to add first and last element of  a list
def add_firstandlast(lst):
    return lst[0] + lst[-1]

numbers= [1,2,3,4,5]
add_firstandlast(numbers)

6

In [9]:
# write a function to convert the given string to tittle case
def convert_to_titlecase(s):
    return s.title()

input_string = ("hello word")
convert_to_titlecase(input_string)

'Hello Word'

In [11]:
 # write a function to convert a number into a string of dasses equal to the number 

def number_to_dasses(n):
    return '-' * n

number_to_dasses(5)

'-----'

In [18]:
# write a function to replace all the occurance of ': )' in  a string with the smiley face emoji 
# smiley emoji
def replace_occ(text):
    return text.replace(':)',' ðŸ˜Š')

message = ("Hello :) . I am fine :)")
print("Message:",replace_occ(message))

Message: Hello  ðŸ˜Š . I am fine  ðŸ˜Š

In [17]:
#write a function to find the power of number using math module
import math 
def find_pow(base, exponent):
     return math.pow(base, exponent)

find_pow(2, 3)

8.0

In [23]:
def get_user_info(name, age, address):
    return name, age, address


get_user_info('John Doe','25','New York')

('John Doe', '25', 'New York')

In [1]:
#write a function to find the smallest number in each list from a group of lists

In [3]:
def find_smallest(lst):
    rs = []
    for i in range (len(lst)):
        if(len(lst[i])) == 0:
            rs.append('Empty lst')

        else:
            smallest = lst[i][0]

            for j in range(len(lst[i])):
                if  lst[i][j]< smallest:

                    smallest = lst[i][j]
            rs.append(smallest)

        return rs

lst = [[1,2,3],[4,5,6],[7,8,9]]
print(find_smallest(lst))

[1]

In [1]:
def flash_card(question, answer):


    
    return {'Question': question, 'Answer': answer}

print(flash_card('What is the capital of France?', 'Paris'))

{'Question': 'What is the capital of France?', 'Answer': 'Paris'}

In [2]:
def flash_card(question, answer):


    
    return {'Question': question, 'Answer': answer}

print(flash_card('What is the capital of France?', 'Paris'))

{'Question': 'What is the capital of France?', 'Answer': 'Paris'}

In [13]:
def factorial(n):
    if n<=1:
        return 1
    return n* factorial(n-1)

factorial(5)

120

In [25]:
#swapping values
def swap_values(a,b):
    
    a,b = b,a
    return a,b

In [40]:
#write a function to return the first N vowels from aÂ givenÂ string

def firstVowels(string):
    v='aeiouAEIOU'
    for i in  string:
        if i in v:
            return i

In [2]:
# write a function to repeat all vowels twice in a given string 
def vow_twice(s):
    v='aeiouAEIOU'
    result=''
    for i in s:
        if i in v:
            result += i *2
        else:
            result += i
    return result

vow_twice("Hello World")

'Heelloo Woorld'

In [44]:
def repeat_vowels_twice(s):
    vowels = "aeiouAEIOU"
    result = ""
    for char in s:
        if char in vowels:
            result += char * 2  # repeat vowel twice
        else:
            result += char
    return result

# Example usage:
print(repeat_vowels_twice("Hello World"))  # Output: Heelloo Woorld

Heelloo Woorld

In [1]:
# write a function to find the standard deviation using stdev() and round off upto 2 decimal 

import statistics
def find_standard_deviation(numbers):
    return round(statistics.stdev(numbers),2)

find_standard_deviation([1,2,3,4,5])

1.58

In [13]:
#write a function to check if  a given  hand is  poker card is a full house 

from collections import Counter
def is_full_house(hand):
    counts = Counter(hand).values()

    return sorted (counts) == [2,3]

In [ ]:
# write a function to return first element of the list

def first_element(lst):
    # lst = [] 

    # for i in range(len(lst)):
    #     if len(lst)==0:
    #         return i
    if lst:

        return lst[0]

In [1]:
# write a function to multiply every number in the list
def multiply_by_two(numbers):
    
    return [number * 2 for number in numbers]
    
multiply_by_two([1,2,3,4])

[2, 4, 6, 8]

In [ ]:
# write a function to remove every vowel letter in the given string 

def remove_vowels(string):
    v = 'aeiouAEIOU'
    result = ''

    for i in string:
        if i  not in v:
            result += i

    return result

    remove_vowels('Hello World')

In [21]:
!pip install streamlit

Access is denied.