# String
- it is collection of alphabets, numbers, special characters and white space.
- enclosed by either single quotes ('a'), double("a"), triple('''a''')("""a""")

In [2]:
text = 'Hello everyone, we are going to learn 30 days Python Programming.'
text

'Hello everyone, we are going to learn 30 days Python Programming.'

In [3]:
print(text)

Hello everyone, we are going to learn 30 days Python Programming.

In [4]:
tripleText = ''' hello everyone
we are 
going to 
learn python
'''
print(tripleText)

 hello everyone
we are
going to
learn python

In [5]:
tripleText

' hello everyone\nwe are \ngoing to \nlearn python\n'

# never use single quotes inside single quotes and double inside double.

In [7]:
# stmt = 'It's mine.'  don't use
stmt = "It's mine."
print(stmt)

It's mine.

In [8]:
# stmt = "He says,"I am a student." "
stmt = 'He says,"I am a student." '
print(stmt)

He says,"I am a student."

# Accessing & indexing
- finding or access elements of iterable object using labeling/index

In [10]:
word = "Dursikshya Education Network"
word

'Dursikshya Education Network'

In [11]:
print(word[2])
print(word[-1])     #negative indexing
print(word[10])
print(word[-10])

r
k

o

# Slicing
- [startIndex : stopIndex)

In [13]:
print(word[0:10])
print(word[11:20])
print(word[:20])
print(word[11:])

Dursikshya
Education
Dursikshya Education
Education Network

In [14]:
print(word[0:20:3])
print(word[::-1])    #reverse string
print(word[::-2])

Dssadao
krowteN noitacudE ayhskisruD
kotNniauEahksu

In [15]:
'nepal'[0:3]
'nepal'[-5:-2]

'nep'

# String Methods

In [17]:
# length : len()
len(word)

28

In [18]:
# string Cases: case sensitive
print(word.lower())
print(word.upper())
print(word.title())
print(word.capitalize())

dursikshya education network
DURSIKSHYA EDUCATION NETWORK
Dursikshya Education Network
Dursikshya education network

In [19]:
# count(item) : count the frequency of item
word.count('a')

2

In [20]:
'word'.index('o')   # index number of an item

1

#### split() : splitting substring by defined symbol or character

In [42]:
text

'Hello everyone, we are going to learn 30 days Python Programming.'

In [40]:
text.split(',')     # split and convert items into list

['Hello everyone', ' we are going to learn 30 days Python Programming.']

In [44]:
name = input('Enter your name:')
name

Enter your name: Bishal

'Bishal '

In [46]:
len(name)

7

# strip() - removing whitespaces from either left or right or both side

In [50]:
txt = '   Hello    '
print(txt, len(txt))

   Hello     12

In [52]:
txt.lstrip()   #left

'Hello    '

In [54]:
txt.rstrip()    #right

'   Hello'

In [56]:
txt.strip()    #both

'Hello'

In [60]:
text

'Hello everyone, we are going to learn 30 days Python Programming.'

# replace(str1, str2)

In [75]:
texts = text.replace('everyone', 'all')
texts

'Hello all, we are going to learn 30 days Python Programming.'

In [77]:
text

'Hello everyone, we are going to learn 30 days Python Programming.'

In [91]:
'1236'.isdigit()

True

In [87]:
'abc123'.isalpha()

False

In [93]:
'abc124'.isalnum()

True

In [125]:
"1240".isdecimal()

False

In [107]:
'abc'.endswith('a')

False

In [111]:
'Anil'.startswith('a'.upper())

True

In [117]:
'Anil'.startswith('A')

True

In [121]:
names = ['Anil','Barsha', 'Ajay', 'Chahana', 'Anmol']
for name in names:
    if name.startswith('A'):
        print(name)

Anil
Ajay
Anmol