In [2]:
#input methid always accept value as string 

salary = int(input('Enter your salary:'))

print(salary, type(salary))
bonus= 100
final_salary = salary + bonus
final_salary

Enter your salary: 2000

2000 <class 'int'>

2100

In [4]:
#implict type conversion

a= 10
b= 5
print(type(a),type(b))

c=a/b
print(c    ,type(c))

<class 'int'> <class 'int'>
2.0 <class 'float'>

In [5]:
text='My name is Mohit Tharu.'

text_split = text.split()
print(text_split,type(text_split))

['My', 'name', 'is', 'Mohit', 'Tharu.'] <class 'list'>

In [7]:
 #Explict type conversion 
#1. int

a=int(5)
print(a,type(a))

5 <class 'int'>

In [8]:
b= 5.5 
print(b,type(b))

b=int(b)         # yeha mailey float value lai int ma change garey 
print(b,type(b))

5.5 <class 'float'>
5 <class 'int'>

In [9]:
c='5.5'
print(c,type(c))

c=int(c)
print(c,type(c))

5.5 <class 'str'>

ValueError: invalid literal for int() with base 10: '5.5'

In [10]:
#2. float 

m = float(3.2)
print(m ,type(m))

3.2 <class 'float'>

In [11]:
n = float(3.2)
print(n,type(n))
n=int(n)
print(n,type(n))

3.2 <class 'float'>
3 <class 'int'>

In [12]:
#3. str()

abc= str('Mohit')
print(abc)
print(abc,type(abc))

Mohit
Mohit <class 'str'>

In [13]:
list_book=['phy','bio','math']
list_book

['phy', 'bio', 'math']

In [17]:
list_book.append('che')     #list ma add garna .append hunxa 
list_book

['phy', 'bio', 'math', 'che']

In [18]:
tuple_book=('phy','bio','math')
tuple_book

('phy', 'bio', 'math')

In [19]:
tuple_book.append('pop')
tuple_book

AttributeError: 'tuple' object has no attribute 'append'

In [21]:
a =list(tuple_book)
a         #no a.    yesley accept gardaina

['phy', 'bio', 'math']

In [23]:
a.append('pop')

In [24]:
a

['phy', 'bio', 'math', 'pop', 'pop']

In [25]:
list_num= [2,3,4,1,5,6,8,20,50]
list_num

[2, 3, 4, 1, 5, 6, 8, 20, 50]

In [27]:
set(list_num)

{1, 2, 3, 4, 5, 6, 8, 20, 50}